@page {
    size: 8.5in 11in;
    border: 1px solid #000000;
}

html{
    height: 11in;
    width: 8.5in;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10pt;
    font-weight: normal;
    color: #333333;
    text-align: left;
    background-color: #ffffff;
    line-height: 1;
}

body{
    margin: 0.5in;
    padding: 0;
}

.text{
    font-size: 12pt;
    color: #333333;
    margin: 0;
}

.footer-text{
    font-size: 9px;
    color: #39a2ea;
    margin: 0.125in 0in;
    font-style: italic;
    text-align: left;
}

.title-container{
    width: 100%;
    height: 0.5in;
    margin:0;
    border-bottom: #39a2ea solid 1.25pt;
}

.page-container{
    width: 100%;
    height: 9.4in;
    margin: 0;
}

.map-container{
    width: 100%;
    height: 4in;
    margin: 0;
}

#large-map{
    width: 5in;
    height: 4in;
    float: left;
}

.inset-column{
    height: 4in;
    width: 2.3in;
    float: left;
    margin-left: 0.15in;
}

#inset-grids{
    height: 1.45in;
    margin-bottom: 0.04in;
}

.inset-row{
    height:50%;
}

.map{
    border: #8a8c8e solid 0.5pt;
}

#inset-map-img{
    width: 2.3in;
    height: 2.3in; 
}

.inset-info{
    height: 100%;
    float:left;
    width:1in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blue-title{
    float:left;
    width: 1in !important;
    margin-right: 0.15in!important;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    margin: 0;
    color: #2093f2;
}

.bottom-container{
    width: 100%;
    height: 4.685in;
    margin: 0;
    border-bottom: #39a2ea solid 1.25pt;
}

.explanation{
    float: left;
    height: 4.7in;
    width: 2.35in;
}

.viz311{
    float: left;
    height: 4.7in;
    width: 5in;
    margin-left: 0.15in;
}

h1{
    font-size: 28px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    margin-bottom: 0.05in;
    color: #2093f2;
}

h2{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #333333;
    margin-top: 0.125in;
}

h3{
    font-size: 12;
    font-weight: normal;
    text-align: left;
    margin: 0;
    padding: 0;
    color: #39a2ea;
}

hr{
    border: 0.5px solid #39a2ea;
    margin: 0;
    padding: 0;
}




